body{
	max-width:960px;
	margin: 0 auto;
	font-size: 0.7em;
	line-height: 1.7em;
	padding: 1%

}

/* 三種字體設定 內文字體已預設*/
.text_green{
		font-size: 1.4em;
		color: #339933;
		text-align: left;
	}
.text_em1.2{
		font-size:1.2em; 
		color: gray;
	}
	
.table-bold{
	font-weight: bold;
}


/* 頁首＆超連結*/
#topbar{
	display: -webkit-inline-flex;
    display: inline-flex;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    justify-content:space-between;
    align-items:center;
}

nav{
	position: relative;
	right: 0;
	width: 40%;
}

nav td{
	width: 20%;		
}

nav a:visited{
	color: red;
}

nav a:hover{
	color: orange;
}


/* Banner */
#header-banner{
	display: -webkit-flex;
    display: flex;
    width: 100%;
}

.header-item{
	align-content: stretch;
	height: 304px;
}

.header-item:nth-child(2){
	width: 50%;
	background-color: black;
	color: white;
	padding: 1%;}

.header-item p:nth-child(2){
	color: orange;
}

/*aside*/
aside{
	position: relative;
	top: 20px;
	width: 25%;
	padding: 1%;
	margin: 1%;
	float: right;
	background-color: #EEF5DF;
	border-top: 1em solid #99cc00;}

/* 頁尾 */
footer{
	display: -webkit-inline-flex;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}
.footer-item:nth-child(1){
	display: -webkit-inline-flex;
    display: inline-flex;
	align-items: center;
}

.footer-item:nth-child(2){
	text-align: right;
	width: 45%;
}


/*音樂會曲目表格*/
article table{
	width: 100%;
	background-color: #eef5de;
}

article table, article tr, article td{
	border-collapse: collapse;
	border: 1px solid white;
}

article tr:nth-child(1){
	background-color: #99cc00;
}

article tr:nth-child(9), article tr:nth-child(20){
	background-color: white;
}

article td:nth-child(3n+1){
	text-align: center;
}


/*音樂會演出單位介紹*/
article{
	position: relative;
	margin-top: 20px;
	width: 71%;
}

.intro-container{
	display: -webkit-inline-flex;
    display: inline-flex;
    align-items:flex-start;
    margin-bottom: 15px;
    border-bottom: 1px dotted orange;
}

.intro-item:nth-child(odd){
	-webkit-flex: initial;
    flex: initial;
  	width: 38%;
  	padding-top: 2%;
}

.intro-item:nth-child(even){
	-webkit-flex: initial;
    flex: initial;
  	width: 62%;
  	padding-left: 1%;
}